#home {
    background-color: red;
}
#about {
    background-color: green;
}

header {
    background-color: rgba(0, 0, 0, .7);
}

#project {
    background-image: url('/assets/image5.jpg');
    /* height: 100dvh;
    width: 100dvw; */
}

/* .fake-parallax {
    background-image: url('/assets/image3.jpg');
    background-attachment: fixed;
    color: white;
} */

div {
    padding: 24px
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}
